#quote-box {
    max-width: 600px;
    border-radius: 10px;
    background-color: #f8f9fa;
 }
 
 h3 {
    font-size: 1.5rem;
    font-weight: bold;
 }
 
 p {
    font-size: 1.2rem;
    font-style: italic;
 }
 
 .btn {
    width: 48%;
 }
 